* {
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

 ul.nav {
    display: none;
} 

/* All navigation CSS below this line */

header {
    display: flex; 
    justify-content: space-between;
    position:fixed;
    width: 100%;
    background-color: rgba(59,132,138,0.3);
    top: 0;
}

.hamburger {
    height: 25px;
    opacity: 0.7;
    align-self: center;
    margin-right: 10px;
    color: rgba(205,158,93); /*<---- not currently working */
}

.hamburger:hover {
    /* get a new hamburger icon */
}


/* All CSS for headline below this line */


h1 {
    margin-left: 15px;
    font-family: 'Playfair Display SC', serif;
    font-weight: normal;
    font-size: 20px;
}

.hello {
    margin-left: 20px;
    font-size: 18px;
    padding: 8px;
    color: rgb(205,158,93);
    font-weight: bold;
}


.bold {
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
    font-size: 18px;
    color: rgb(205,158,93);
}

.name {
    font-family: 'Playfair Display SC', serif;
    color: rgb(59,132,138);
    font-size: 30px;
    margin-left: 5px;
}

.headlineContainer {
    height: 100vh;
    width:100%;
    background-image: urL("https://lh3.googleusercontent.com/rGwhwshQd9Ha2Jx9C_ydBNxBKjg2tLPRc4c2MZoqQKjNIoAbBpUWjDKZiuHPjAKnN5hWQi1pGXPurPvMgQne4lWKW2uvnVsQvbG549-3jj-N_KSDJCXdOvxEwo6YaPkk8-2D_arGcSk4h4UeQ0d5Mg82_HtYWsQxqO3kJOisd64PA4qdB_bBB94u6zoM0KEEFBKx9_YcoauU7_gntJa5cXiR3oI5-QHH6VkcUFzSQeibWDX2t5LB9P0p_fpZu0yHDIciH-9z8v0kdvD48GnlxBal-41OdWUFdTZRORHA0FYqqIKUX6ycPDO7cf60P7TZWzxZVtTYyp6tno_EOgLhDSppD5IjIMj6iXPUKMM-wWteexossf8RydFWOb5E62rcMIfHEbOt_k5wI3MF760bZD25wEX1bhcsdPBbNq8dt0czf2j2pK7geatjpayP-uqRyY1LSmG0FJdcUU_0gPnXgCudb_xpSNh6mARcrCgL49pUf_qTBVvgMNymtGaflmVaaEi_b52R5xSu6LYq6avURFMQ-jsZWYdN856Nh6jKRME9EF0CGmv0Hn8C7rtf-V27uH98DMHnbB8pbv3mk6Ikfdkbx7iF3e1h1oXAilOIUTpTjjD3UkKDQC596g4uFbV8WNfhCKvMOq2jTfqO2RTxxH4cGcX3X3k=w750-h500-no");
    width: 100%;
    margin-top: 60px; /* override this in the ipad section */
    margin-bottom: 0px;

}

.myName, .headlineText {
    margin-left: 50px;  
}


/* All CSS for About Me page below this line */


.aboutContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.aboutImg {
    height: 400px;
}

.aboutText {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;
}


/* All CSS for Projects page below this line */

.projectsPage {
    height: 100vh;
    width:100%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.projectContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    line-height: 30px;
    padding: 10px;
}

.project1Img {
    width: 100%;
    margin-top: 130px;
}

h2.projectTitle {
    font-size: 16px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

h3.projectDesc {
    font-size: 14px; /* Make this larger! Not accessible. */
    font-weight: normal;
    text-align: center;
}

img.icon {
    height: 20px;
}

ul li.icon {
    list-style: none;
    display:inline-block;
    margin-top: 0;
}

ul.iconContainer {
    text-align: center;
    display: inline-block;
}

.buttonContainer {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-content: center;
} 

.button {
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid rgb(59,132,138);
    color: black;
    font-size: 13px; /* Make this larger! Not accessible. */
    margin-bottom: 100px;
    margin-left: 30px;
}

.button:active, .button:visited {
    color: black;
}

.button:hover {
    border-bottom: 2px solid rgb(205,158,93);
    padding: 3px;
} 






/* Desktop computers */
@media only screen and (min-width: 769px) {


/* Nav CSS below */

    h1 {
        margin-left: 50px;
        font-size: 35px;
    }

    ul.nav {
      margin-right: 80px;
    }
    ul.nav {
        display: flex;
        align-items: center;
    }
    
    ul.nav > li {
        list-style: none;
        display: inline-block;
        margin-left: 50px; 
        margin-right: 50px;
    }
    
    li.nav:hover {
        border-bottom: 1.5px solid rgb(205,158,93);
        padding-bottom: 0px;
        padding: 6px;
        cursor: pointer;
    }

    .hamburger {
        display: none;
    }


/*  headline CSS */

    .myName, .headlineText {
        margin-left: 80px;  
    }  
    
    .hello {
        margin-left: 40px;
        font-size: 25px;
        padding: 15px;
        color: rgb(205,158,93);
        font-weight: bold;
    }
    
    
    .bold {
        font-family: 'Playfair Display SC', serif;
        font-weight: bold;
        font-size: 18px;
        color: rgb(205,158,93);
    }
    
    .headlineContainer {
        margin-top: 155px;
    }

    .headlineContent {
        margin-top: 20px;
        margin-left: 375px;
        height: 300px;
        width: 600px;
        line-height: 32px;
        font-size: 17px;
    } 

    
/* 'About Page' CSS below  */

    .aboutContainer {
        display:flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }
    
    .aboutText {
        float: right;
        width: 50%; 
        line-height: 30px;
    }
    
    .aboutImg {
        height: 500px;
    } 

/* Projects CSS below */

    .projectsPage {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        align-content: center;
    }


    .projectContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 20px;
        
    }

    .buttonContainer {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        align-items: flex-end;
        
    } 
    
    img.icon {
        height: 30px;
    }

    .imgContainer {
        align-self: center;
        margin-right: 20px;
    }

    h2.projectTitle {
        font-size: 28px;
    }

    h3.projectDesc {
        font-size: 16px;
    }

    .button {
        margin-bottom: 0px;
        margin-left: 35px;
        font-size: 16px;
    }

}






/* iPads */
@media screen and (min-width: 481px) and (max-width: 768px) {

/* iPad Nav CSS below */

    h1 {
        margin-left: 50px;
        font-size: 30px;
    }

    ul.nav {
      margin-right: 80px;
    }

    ul.nav {
        display: flex;
        align-items: center;
    }
    
    ul.nav > li {
        list-style: none;
        display: inline-block;
        margin-left: 30px; 
        margin-right: 10px;
    }
    
    li.nav:hover {
        border-bottom: 1.5px solid rgb(205,158,93);
        padding-bottom: 0px;
        padding: 6px;
        cursor: pointer;
    }

    .hamburger {
        display: none;
    }


/*  iPad headline CSS */
    .headlineContainer {
        background-repeat: no-repeat;
        min-height: 100vh;
        margin-bottom: 0px;
        /* margin-top: 520px; */
    }

    .myName, .headlineText {
        margin-left: 80px;  
    }  
    
    .hello {
        margin-left: 40px;
        font-size: 25px;
        padding: 15px;
        color: rgb(205,158,93);
        font-weight: bold;
    }
    
    
    .bold {
        font-family: 'Playfair Display SC', serif;
        font-weight: bold;
        font-size: 18px;
        color: rgb(205,158,93);
    }

    .headlineContent {
        /* margin-top: 100px; */
        height: 300px;
        width: 600px;
        line-height: 32px;
        font-size: 20px;
    } 

}








