* {
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

/* All navigation CSS below this line */

header {
    display: flex; 
    justify-content: space-between;
    position:fixed;
    width: 100%;
    background-color: rgba(234, 204, 81, 0.9);
}

ul.nav {
    display:none;
}

h1 {
    margin-left: 15px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
}

/* All CSS for headline below this line */

.headlineContainer {
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.myName, .headlineText {
    margin-left: 80px;
    
}

/* All CSS for About Me page below this line */


.aboutContainer {
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.aboutImg {
    height: 500px;
}

/* All CSS for Projets page below this line */

.project1Container {
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    
}

img.icon {
    height: 40px;
}

ul li.icon {
    list-style: none;
    display:inline-block;
}

img.project1Img {
    width: 100%;
}


h3 {
    font-weight: normal;
}

button {
    height: 50px; 
    width: 125px;
    font-size: 18px;
}

/* Desktop computers */
@media only screen and (min-width: 768px) {
    ul.nav {
      margin-right: 80px;
    }
    ul.nav {
        display: flex;
        align-items: center;
    }
    
    ul.nav > li {
        list-style: none;
        display: inline-block;
        margin-left: 50px; 
        margin-right: 50px;
    }
    
    li.nav:hover {
        border-bottom: 1.5px solid rgb(56, 216, 205);
        padding-bottom: 0px;
        padding: 6px;
    }
    
    .aboutContainer {
        display:flex;
        justify-content: space-evenly;
    }
    
    .aboutText {
        height:50%;
        width: 50%; */
        align-content: right;
        
    }
    
    .aboutImg {
        height: 500px;
        align-content: left;
    }
    
    .project1Container {
        height: 100vh;
        width:100%;
        display: flex;
    }
    
    img.icon {
        height: 40px;
    }
    
    ul li.icon {
        list-style: none;
        display:inline-block;
    }
    
    img.project1Img {
        width: 700px;
        align-content: right;
    }
    
    .project1Content {
        width: 40%;
        align-content: left;
        text-align:right;
    }
    
    h3 {
        font-weight: normal;
    }
    
    button {
        height: 50px; 
        width: 125px;
        font-size: 18px;
        margin-left: 25px;
    }
  }

  @media only screen and (min-width: 320px) { 
    .project1Container {
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
    .aboutContainer {
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
    }
    
  }





